<div class="content-top">
    <div class="col-md-4 ">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li class="active">Society Admin</li>
            </ul>
            <h4 class="breadcrumb-title">Society Admin</h4>
        </div>
    </div>

    <div class="col-md-8 ">
        <div class="row">
            <div class="cnt-top-left-main">
                <div class="cnt-search">
                    <!-- <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field> -->
                    <!-- <mat-form-field>
                      <input matInput [(ngModel)]="searchedTerm" (keyup)="applyFilter()" placeholder="Search">
                  </mat-form-field> -->
                </div>

                <!-- <input type="file" accept=".csv" #data style="display:none" (change)="handleFileInput($event.target.files)"> -->
                <!-- <input type="file" #data style="display:none" (change)="handleFileInput($event.target.files)">
              <div (click)="data.click()" class="cnt-top-btn">
                  <button class="content-top-btn bg-skyblue">
                      <i class="glyphicon glyphicon-arrow-up"></i> Upload Excel File</button>
              </div> -->
                <div class="cnt-top-btn">
                    <button class="content-top-btn btn bg-green" (click)="addSocietyAdmin()">
                      <i class="glyphicon glyphicon-plus"></i> Add Admin</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-main">
    <div class="cnt radius">

        <div class="example-container mat-elevation-z8">
            <div class="mat-table-main">
                <mat-table #table [dataSource]="societyAdmins" class="mat-table">

                    <!-- Position Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef style="min-width: 70px;">Actions</mat-header-cell>
                        <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()" class="button-row" style="min-width: 70px;">
                            <button mat-icon-button (click)="editSocietyAdmin(element)" matTooltip="Edit">
                        <mat-icon class="color-yellow">edit</mat-icon>
                      </button>
                            <button matTooltip="Delete" mat-icon-button (click)="deleteSocietyAdmin(element)">
                        <mat-icon class="color-orange">delete</mat-icon>
                      </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let col of colDefs" [matColumnDef]="col.name">
                        <mat-header-cell *matHeaderCellDef class="mat-header-song" [ngStyle]="{'min-width': col.width}"> {{col.displayName | uppercase}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngStyle]="{'min-width': col.width}" innerHTML="{{(col.displayFcn) ? col.displayFcn(element):element[col.name]}}">

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <!--mat-table-main-->
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
            <!-- <mat-paginator #paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"> -->
            <!-- </mat-paginator> -->
        </div>



    </div>

    <div style="height: 50px; width: 100%; float: left;"></div>
</div>