<div class="header navbar-fixed-top bg-orange-gdt">
    <div class="logo">
        <!-- <img src="../assets/img/app.png" alt="" /> -->
        MaidsnCar Management
    </div>
    <!-- <div class="logo">
        Angular Template 
    </div> -->
    <!-- <button type="button" id="sidebarCollapse" class="toggle-btn">
      <i class="glyphicon glyphicon-align-left"></i>
  </button> -->
    <div class="align-rt">
        <div class="notification-btn">
            <i class="glyphicon glyphicon-bell"></i>
        </div>
        <div class="userbtn">
            <a class="userbtn-down">
                <span class="user-pic">
                <img src="../assets/img/layer.jpg" alt="" />
              </span>{{user.name}}</a>
            <ul class="usermenu bg-dark radius">
                <i class="glyphicon glyphicon-triangle-top color-dark"></i>
                <li>
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>