<div style="margin-left:2%;">


    <div class="row" style="margin-top:1%;margin-bottom:2%;">
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li class="active">Reports</li>
        </ul>
        <h4 class="breadcrumb-title">Reports</h4>
    </div>

    <div class="jumbotron">
        <div class="col-8">
            <h4 class="breadcrumb-title">Generate Report</h4>
            <br>
            <h4 class="breadcrumb-title">Reports</h4>
        </div>


        <div class="col-8">
            <mat-form-field style="width:40%;float:left;margin-left:5%;">
                <select matNativeControl required>
          <option value="Resident">Resident</option>
          <option value="Helper">Helper</option>
          <option value="Payments">Payments</option>
          <option value="Data">Data Analysis</option>
        </select>
            </mat-form-field>

            <span style="margin-left:4%;"></span>
            <mat-form-field style="width:40%;">
                <select matNativeControl required>
        <option value="select_society">Select Society</option>
        
      </select>
            </mat-form-field>
        </div>



        <div style="width:100%;background-color:black;height:54px;color:white;margin-top:3%;font-size:14px;">
            <span style="vertical-align: middle;display: table-cell;padding:6%;font-size:14px;">Report Customization</span>
        </div>


        <mat-form-field color="accent" style="margin-left:5%;width:40%;margin-top:2%;">
            <mat-label>Date From</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="accent" style="margin-left:4%;width: 40%;margin-top:2%;">
            <mat-label>Date To</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>

        <div>
            <button style="margin-left:5%;width:150px;height:40px;background-color:#ff4c01;color: white;border:none;outline: none;border-top-right-radius: 20px;border-bottom-right-radius:20px;border-top-left-radius: 20px;border-bottom-left-radius:20px;margin-right:10px;margin-top:2%;">Generate Report</button>
        </div>

        <div style="">
            <h4 class="breadcrumb-title" style="margin-top:4%;">Employee Report List</h4>
        </div>

        <div>
            <table>
                <thead>
                    <tr style="width:100%;background-color:black;color: white;">
                        <td>ID</td>
                        <td>NAME</td>
                        <td>AGE</td>
                        <td>CURRENT ADDRESS</td>
                        <td>AADHAR NO</td>
                        <td>POLICE VERIFIACTION</td>
                        <td>SERVICE PROVIDE</td>
                        <td>TYPE</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="checked" value="check"> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>

                <ng-container matColumnDef="NAME">
                    <th mat-header-cell *matHeaderCellDef> NAME</th>
                    <td mat-cell *matCellDef="let element"> {{element.NAME}} </td>
                </ng-container>

                <ng-container matColumnDef="AGE">
                    <th mat-header-cell *matHeaderCellDef> AGE </th>
                    <td mat-cell *matCellDef="let element"> {{element.AGE}} </td>
                </ng-container>

                <ng-container matColumnDef="CURRENT_ADDRESS">
                    <th mat-header-cell *matHeaderCellDef> CURRENT ADDRESS </th>
                    <td mat-cell *matCellDef="let element"> {{element.CURRENT_ADDRESS}} </td>
                </ng-container>

                <ng-container matColumnDef="TOTALTOWERS">
                    <th mat-header-cell *matHeaderCellDef> TOTAL TOWERS </th>
                    <td mat-cell *matCellDef="let element"> {{element.TOTALTOWERS}} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
            </table>


            <button style="width:130px;color:white;background-color:green;height:40px;border-radius:20px;margin-top:4%;border:none;outline: none;margin-left:5%;">Generate CSV</button>
        </div>


    </div>



</div>