<div class="content-top">
    <div class="col-md-4 ">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li class="active">Dashboard</li>
            </ul>
            <h4 class="breadcrumb-title">Dashboard</h4>
        </div>
    </div>

    <div class="col-md-8 ">
        <div class="row">
            <div class="cnt-search">Seacsh</div>
            <div class="cnt-search-by">Search By</div>
            <div class="cnt-filter">
                <button class="content-top-btn bg-yellow">
                    <i class="glyphicon glyphicon-tasks"></i> Filter</button>
            </div>
            <div class="cnt-upload">
                <button class="content-top-btn bg-skyblue">
                    <i class="glyphicon glyphicon-arrow-up"></i> Upload Excel File</button>
            </div>
            <div class="cnt-add">
                <button class="content-top-btn btn bg-green">
                    <i class="glyphicon glyphicon-plus"></i> Add Society</button>
            </div>
        </div>
    </div>
</div>
<div class="content-main">
    <div class="cnt radius">
        <div class="cnt-title-pink border-orange">Add Helper</div>
        <div class="cnt-main">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="line"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>

    <div style="height: 50px; width: 100%; float: left;"></div>
    <div class="cnt radius">
        <div class="cnt-title border-orange">Personal Details</div>
        <div class="cnt-main">
            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <div class="line"></div>

            <h2>Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>