<div class="content-top">
    <div class="col-md-4 ">
        <div class="row">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li class="active">Attendance</li>
            </ul>
            <h4 class="breadcrumb-title">Attendance</h4>
        </div>
    </div>

    <div class="col-md-8 ">
        <div class="row">
            <div class="cnt-top-left-main">
                <div class="cnt-search">
                    <!-- <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field> -->
                    <!-- <mat-form-field>
                    <input matInput [(ngModel)]="searchedTerm" (keyup)="applyFilter()" placeholder="Search">
                </mat-form-field> -->
                </div>

                <!-- <input type="file" accept=".csv" #data style="display:none" (change)="handleFileInput($event.target.files)"> -->
                <!-- <input type="file" #data style="display:none" (change)="handleFileInput($event.target.files)">
            <div (click)="data.click()" class="cnt-top-btn">
                <button class="content-top-btn bg-skyblue">
                    <i class="glyphicon glyphicon-arrow-up"></i> Upload Excel File</button>
            </div> -->
                <mat-form-field style="margin-right:10px;">
                    <input matInput [(ngModel)]="searchedTerm" (keyup)="applySearch()" placeholder="Search" style=""><i class="fas fa-search" style="float:right;"></i>
                    <!-- <input matInput [formControl]="searchCtrl" placeholder="Search"> -->
                </mat-form-field>

                <button style="width:150px;height:40px;background-color:green;color: white;border:none;outline: none;border-top-right-radius: 20px;border-bottom-right-radius:20px;border-top-left-radius: 20px;border-bottom-left-radius:20px;margin-right:10px;"><i class="fas fa-angle-left" style="float:left;padding-right:2%;margin-top:1%;"(click)="backwardClick()"></i>{{this.month.name }}, {{this.year}}<i class="fas fa-angle-right" style="float:right;padding-left: 2%;margin-top:1%;" (click)="forwardClick()"></i></button>

                <button style="width:80px;height:40px;background-image: linear-gradient(#ff6a2b, #ff4c01);color: white;border:none;outline: none;border-top-right-radius: 20px;border-bottom-right-radius:20px;border-top-left-radius: 20px;border-bottom-left-radius:20px;margin-top:1%;"
                    (click)="getReport()">Report</button>

            </div>
        </div>
    </div>
</div>
<div class="content-main">
    <div class="cnt radius">

        <div class="example-container mat-elevation-z8">
            <div class="mat-table-main">
                <mat-table #table [dataSource]="societyAdmins" class="mat-table">




                    <!-- Position Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef style="min-width: 70px;">
                            <i class="fas fa-angle-left" style="float:left;margin-right:1%;" (click)="backwardDate()"></i>
                            <ng-container *ngFor="let i of dayDate;let in=index">
                                <span *ngIf="in<5" style="margin-left:2%;">{{i.day}}, {{i.date}}</span>

                            </ng-container>
                            <i class="fas fa-angle-right" style="float:right;margin-left:3%;" (click)="forwardDate()"></i>
                        </mat-header-cell>

                        <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()" class="button-row" style="min-width: 70px;">
                            <!-- <button mat-icon-button (click)="editSocietyAdmin(element)" matTooltip="Edit">
                      <mat-icon class="color-yellow">edit</mat-icon>
                    </button>
                            <button matTooltip="Delete" mat-icon-button (click)="deleteSocietyAdmin(element)">
                      <mat-icon class="color-orange">delete</mat-icon>
                    </button> -->
                        </mat-cell>
                    </ng-container>








                    <ng-container *ngFor="let col of colDefs" [matColumnDef]="col.name">
                        <mat-header-cell *matHeaderCellDef class="mat-header-song" [ngStyle]="{'min-width': col.width,'max-width':col.maxwid,'margin-left':col.marginl}"> {{col.displayName | uppercase}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngStyle]="{'min-width': col.width}" innerHTML="{{(col.displayFcn) ? col.displayFcn(element):element[col.name]}}">

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <!--mat-table-main-->
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"></mat-paginator>
            <!-- <mat-paginator #paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[10]" [showFirstLastButtons]="true"> -->
            <!-- </mat-paginator> -->
        </div>



    </div>

    <div style="height: 50px; width: 100%; float: left;"></div>
</div>